body {
  background-color: #f8f8f8; }

.m:first-child > span.title {
  border-top: 0; }

.m > span.title {
  color: #333333;
  display: block;
  height: .39rem;
  line-height: .39rem;
  font-size: .14rem;
  border-top: 1px #aaaaaa solid;
  border-bottom: 1px #dddddd solid;
  background-color: #fff;
  padding-left: .10rem; }

.m .base {
  border: 1px #bcbcbc solid;
  border-top: .02rem #00b8a7 solid;
  border-radius: .03rem;
  margin: .10rem; }
  .m .base ul {
    padding: .05rem .10rem; }
    .m .base ul li {
      border-bottom: 1px #dddddd solid;
      padding: .06rem .07rem 0; }
      .m .base ul li:last-child {
        border-bottom: 0; }
      .m .base ul li span:nth-child(1) {
        background: url(../../res/img/com_imglist.png?__t=1466477368124?__t=1456330953376) center center no-repeat;
        background-size: .52rem .78rem;
        display: inline-block;
        height: .18rem;
        width: .17rem;
        vertical-align: middle; }
      .m .base ul li span.t1 {
        background-position: 0 0; }
      .m .base ul li span.t2 {
        background-position: 0 -.19rem; }
      .m .base ul li span.t3 {
        background-position: 0 -.39rem; }
      .m .base ul li span.name {
        line-height: .28rem;
        font-size: .12rem;
        padding-left: .12rem; }
      .m .base ul li span.value {
        float: right;
        line-height: .28rem;
        font-size: .14rem;
        color: #333333;
        letter-spacing: .01rem; }

.m.event span.pic {
  background: url(../../res/img/com_imglist.png?__t=1466477368124?__t=1456417877991?__t=1456330953376) center center no-repeat;
  background-size: .52rem .78rem;
  display: inline-block;
  height: .16rem;
  width: .16rem;
  margin-top: .08rem;
  margin-left: .06rem; }

.m.event .content ul li {
  background-color: #fff; }
  .m.event .content ul li .ban {
    border-left: 1px #ededed solid;
    margin: 0 .18rem 0 .28rem;
    padding: .10rem 0;
    height: .60rem; }
    .m.event .content ul li .ban .total {
      width: .30rem;
      height: .30rem;
      border-radius: .20rem;
      display: inline-block;
      margin-left: -.15rem;
      vertical-align: top; }
    .m.event .content ul li .ban .con, .m.event .content ul li .ban .finish {
      display: inline-block;
      padding-top: .03rem;
      padding-left: .15rem; }
      .m.event .content ul li .ban .con span.name, .m.event .content ul li .ban .finish span.name {
        font-size: .12rem;
        color: #989898;
        display: block; }
      .m.event .content ul li .ban .con span.value, .m.event .content ul li .ban .finish span.value {
        display: inline-block;
        font-size: .14rem;
        color: #333333;
        padding-top: .20rem; }
      .m.event .content ul li .ban .con span.add, .m.event .content ul li .ban .finish span.add {
        font-size: .14rem;
        color: #4ba9ff; }
      .m.event .content ul li .ban .con span.fail, .m.event .content ul li .ban .finish span.fail {
        font-size: .14rem;
        color: #fe5864; }
    .m.event .content ul li .ban > img {
      float: right;
      width: .60rem;
      height: .60rem;
      vertical-align: top; }
  .m.event .content ul li:first-child {
    padding-top: .10rem; }
    .m.event .content ul li:first-child .ban {
      padding-top: 0; }
  .m.event .content ul li .state {
    padding-left: .28rem;
    padding-right: .18rem;
    background-color: #f9f9f9; }
    .m.event .content ul li .state .s_state {
      border-left: 1px #ededed solid; }
      .m.event .content ul li .state .s_state > span {
        font-size: .12rem;
        color: #989898;
        line-height: .37rem; }
        .m.event .content ul li .state .s_state > span.yuan {
          width: .07rem;
          height: .07rem;
          display: inline-block;
          border: 1px #bdbdbd solid;
          border-radius: .07rem;
          vertical-align: middle;
          margin-left: -.05rem; }
        .m.event .content ul li .state .s_state > span.time {
          margin-left: .10rem; }
        .m.event .content ul li .state .s_state > span.s {
          margin-left: .08rem; }
      .m.event .content ul li .state .s_state > .s_sj_operate {
        float: right; }
        .m.event .content ul li .state .s_state > .s_sj_operate span {
          color: #989898;
          line-height: .37rem; }
          .m.event .content ul li .state .s_state > .s_sj_operate span.pic {
            vertical-align: middle;
            background-position: -.22rem -.25rem;
            width: .13rem;
            height: .15rem;
            margin-top: -.03rem;
            margin-right: .03rem; }
            .m.event .content ul li .state .s_state > .s_sj_operate span.pic.s3 {
              background-position: -.22rem -.10rem; }
  .m.event .content ul li.s1 .ban .total {
    background-color: #ffb134; }
    .m.event .content ul li.s1 .ban .total span.pic {
      background-position: -.36rem 0; }
  .m.event .content ul li.s2 .ban .total {
    background-color: #66bb44; }
    .m.event .content ul li.s2 .ban .total span.pic {
      background-position: -.36rem -.16rem; }
  .m.event .content ul li.s3 .ban .total {
    background-color: #fe5864; }
    .m.event .content ul li.s3 .ban .total span.pic {
      background-position: -.36rem -.32rem; }
  .m.event .content ul li.s4 .ban .total {
    background-color: #4ba9ff; }
    .m.event .content ul li.s4 .ban .total span.pic {
      background-position: -.36rem -.48rem; }
  .m.event .content ul li.s5 .kong {
    height: .10rem;
    margin-left: .28rem;
    border-left: 1px #ededed solid; }
  .m.event .content ul li.s5 .ban {
    height: auto;
    border: 0;
    padding-top: 0; }
    .m.event .content ul li.s5 .ban .total {
      background-color: #c392ff; }
      .m.event .content ul li.s5 .ban .total span.pic {
        background-position: -.36rem -.64rem; }
    .m.event .content ul li.s5 .ban .finish {
      width: 85%; }
  .m.event .content ul li.zb {
    display: none;
    color: #989898;
    font-size: .12rem;
    background-color: #f9f9f9; }
    .m.event .content ul li.zb .ban {
      padding: .12rem .07rem .08rem .15rem;
      height: auto; }
      .m.event .content ul li.zb .ban span {
        border: 1px #c8c8c8 solid;
        border-radius: .03rem;
        padding: .01rem; }
      .m.event .content ul li.zb .ban div {
        margin: .10rem 0; }
        .m.event .content ul li.zb .ban div.btn {
          margin: 0;
          text-align: right; }
          .m.event .content ul li.zb .ban div.btn button {
            font-size: .14rem;
            color: #333333;
            border: 0;
            background-color: #f9f9f9;
            padding: 0; }
        .m.event .content ul li.zb .ban div select {
          font-size: .13rem;
          color: #333333; }
  .m.event .content ul li.sq {
    display: none;
    color: #989898;
    font-size: .12rem;
    background-color: #f9f9f9; }
    .m.event .content ul li.sq .ban {
      padding: .12rem .12rem .08rem .15rem;
      height: auto; }
      .m.event .content ul li.sq .ban > span.title {
        color: #333333;
        font-size: .12rem; }
        .m.event .content ul li.sq .ban > span.title input {
          color: #989898;
          display: inline-block;
          padding: 0 0.05rem;
          border: 0;
          border-bottom: 1px #989898 solid;
          width: .13rem;
          background-color: #f9f9f9;
          border-radius: 0; }
      .m.event .content ul li.sq .ban div .btn {
        text-align: right;
        padding: .10rem 0 .05rem; }
        .m.event .content ul li.sq .ban div .btn button {
          border: 0;
          color: #333333;
          font-size: .12rem;
          background-color: #f9f9f9;
          padding: 0; }
      .m.event .content ul li.sq .ban .tx {
        padding-top: .05rem; }
        .m.event .content ul li.sq .ban .tx textarea {
          border: 0;
          background-color: #fff;
          width: 100%;
          padding: .05rem 0;
          height: .65rem; }
      .m.event .content ul li.sq .ban .tj {
        display: none; }
        .m.event .content ul li.sq .ban .tj span {
          line-height: .25rem;
          padding-top: .05rem;
          display: inline-block; }
        .m.event .content ul li.sq .ban .tj .btn {
          padding: 0 0 .05rem; }
          .m.event .content ul li.sq .ban .tj .btn button.no {
            padding-left: .05rem; }

.m .deal {
  border-top: 1px #aaaaaa solid;
  border-bottom: 1px #dddddd solid;
  background-color: #fff;
  font-size: .14rem;
  padding-left: .10rem;
  padding-right: .15rem;
  color: #333333; }
  .m .deal span {
    line-height: .39rem;
    display: inline-block; }
  .m .deal .op {
    float: right; }
    .m .deal .op span.pic {
      background: url(../../res/img/com_imglist.png?__t=1466477368124?__t=1456591076370?__t=1456417877991?__t=1456330953376) center center no-repeat;
      background-size: .52rem .78rem;
      display: inline-block;
      vertical-align: middle;
      background-position: -.22rem -.25rem;
      width: .13rem;
      height: .15rem;
      margin-top: -.03rem;
      margin-right: .03rem; }
    .m .deal .op span.publish {
      color: #a8a8a8; }

.im_list {
  padding-bottom: 0.1rem;
  position: relative;
  padding: .10rem .20rem .12rem .1rem;
  background-color: #fff; }
  .im_list > .iml_zhang {
    position: absolute;
    top: -0.1rem;
    right: 0;
    width: 0.64rem; }
  .im_list > .imu_title > img {
    width: 0.33rem;
    float: left;
    padding-right: 0.1rem; }
  .im_list > .imu_title > .imut_content {
    display: inline; }
    .im_list > .imu_title > .imut_content > span {
      display: inline-block;
      padding-bottom: 0.05rem;
      color: #00a48c;
      font-size: .14rem; }
      .im_list > .imu_title > .imut_content > span:nth-child(2) {
        font-size: .12rem;
        color: #aaaaaa;
        padding-left: .08rem; }
      .im_list > .imu_title > .imut_content > span.num {
        float: right;
        margin-right: 5px;
        color: #696969; }
    .im_list > .imu_title > .imut_content > em.zan {
      background: url(../../res/img/com_imglist_zan.png?__t=1466477368124?__t=1456330953376?__t=1456330953376) center center no-repeat;
      background-size: .12rem .27rem;
      height: .14rem;
      width: .12rem;
      vertical-align: middle;
      float: right;
      background-position: 0 0; }
    .im_list > .imu_title > .imut_content > em.hui {
      background-position: 0 -.1495rem; }
    .im_list > .imu_title > .imut_content > div {
      display: block;
      line-height: 0.14rem; }
      .im_list > .imu_title > .imut_content > div:nth-child(3) {
        margin-left: 0.15rem; }
      .im_list > .imu_title > .imut_content > div:nth-child(3) > .span_img {
        background: url(../../res/img/com_imglist.png?__t=1466477368124?__t=1456330953376?__t=1456330953376) center center no-repeat;
        background-size: .78rem 1.17rem;
        display: inline-block;
        height: .16rem;
        width: .10rem;
        vertical-align: middle;
        background-position: -.33rem 0; }
      .im_list > .imu_title > .imut_content > div > span:nth-child(2) {
        color: #a8a8aa;
        padding-left: .03rem; }
  .im_list .imu_play {
    padding-bottom: .08rem; }
    .im_list .imu_play > img {
      width: .20rem; }
    .im_list .imu_play > .imup_btn {
      font-size: .12rem;
      color: #a3a3a3;
      float: left;
      line-height: .17rem;
      margin-right: .05rem; }

.ims_num {
  text-align: right;
  position: relative;
  margin-top: .15rem; }
  .ims_num > span {
    position: absolute;
    border: 1px black solid;
    right: 0;
    color: #fff;
    padding: .03rem .06rem;
    border-radius: .04rem;
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.8); }

.imu_content {
  line-height: .18rem;
  padding: .15rem 0;
  font-size: .14rem; }

.imu_img {
  overflow-x: auto;
  overflow-y: hidden;
  height: .80rem;
  white-space: nowrap;
  margin-top: .15rem; }
  .imu_img > div {
    display: inline-block;
    width: 1.15rem;
    height: .80rem;
    margin-right: 0.05rem; }
    .imu_img > div:last-child {
      margin-right: 0; }
    .imu_img > div > img {
      display: inline-block;
      width: 1.15rem;
      height: 0.8rem; }
  .imu_img > img {
    display: inline-block;
    width: 1.15rem;
    height: .80rem; }

.m_alert {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  display: none; }
  .m_alert .m_main {
    background-color: #fff;
    margin: 45% .15rem 0;
    padding: .50rem .70rem;
    border-radius: .08rem;
    box-shadow: 0 .03rem .04rem #888888; }
    .m_alert .m_main > span {
      text-align: center;
      display: block;
      color: #333333;
      font-size: .14rem; }
      .m_alert .m_main > span:nth-child(2) {
        margin-top: .12rem; }
    .m_alert .m_main .operate {
      padding: 0 .23rem; }
      .m_alert .m_main .operate span {
        margin-top: .30rem;
        font-size: .14rem;
        color: #333333;
        width: .50rem;
        display: inline-block;
        line-height: .25rem; }
        .m_alert .m_main .operate span:nth-child(1) {
          text-align: left;
          border-right: 1px #a6a6a6 solid; }
        .m_alert .m_main .operate span:nth-child(2) {
          text-align: right; }

.m ul li {
  border-bottom: 1px #dddddd solid; }
  .m ul li:last-child {
    border-bottom: 0; }
  .m ul li .im_list .imu_title .imut_content .name {
    color: #333333; }
  .m ul li .im_list .imu_title .imut_content .time {
    font-size: .12rem;
    color: #b6b6b6; }
  .m ul li .im_list .imu_title .imut_content .content {
    color: #696969; }

.m_publish {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: -2.10rem;
  z-index: 30;
  width: 100%;
  padding-bottom: .10rem;
  display: none; }
  .m_publish .pm_content {
    padding: .10rem .15rem; }
    .m_publish .pm_content textarea {
      width: 100%;
      padding: 0;
      height: 1.50rem;
      margin-bottom: .10rem;
      border: 0;
      display: block; }
  .m_publish .btn {
    text-align: right;
    padding-right: .15rem; }
    .m_publish .btn button {
      border: 0;
      color: #fff;
      background-color: #01b7a8;
      padding: .04rem .10rem;
      font-size: .12rem;
      border-radius: .03rem; }
      .m_publish .btn button.cancel {
        margin-right: .10rem; }

.footer {
  background-color: #333333;
  color: #989898;
  font-size: .12rem;
  display: block;
  line-height: .40rem;
  text-align: center; }
